<form
  class="form-horizontal"
  autocomplete="off"
  #createProjectForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewProject' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="title">
        {{ "Title" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          minlength="2"
          maxlength="64"
          required
          [(ngModel)]="project.title"
          #titleModel="ngModel"
          #titleEl
        />
        <abp-validation-summary
          [control]="titleModel"
          [controlEl]="titleEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="description">
        {{ "Description" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="description"
          id="description"
          maxlength="128"
          required
          [(ngModel)]="project.description"
          #descriptionModel="ngModel"
          #descriptionEl
        />
        <abp-validation-summary
          [control]="descriptionModel"
          [controlEl]="descriptionEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="assignedUserId">
        {{ "AssignedUserId" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="assignedUserId"
          id="assignedUserId"
          maxlength="1024"
          [(ngModel)]="project.assignedUserId"
        />
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createProjectForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
